.App {
  text-align: center;
  background-image: url(https://vinnter.se/wp-content/uploads/2021/01/iot-connected-world-city-5-w2400x72dpi.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  overflow-x:hidden;
}

