.Footer-div {
    width: 100%;
    height: auto;
    top: 100%;
    position: relative;
    background: #3a3a3a;
    padding-bottom: 2rem;
}

.company-details-container {
    
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
}

.company-contact-info  {
    height: 13rem;
    width: 50%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    color: #fff;
    text-decoration: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.send-email-container {
    width: 50%;
    height: 13rem;
}

.address, .company-number, .mobile, .VAT {
    display: flex;
    flex-direction: column;
}

.address {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
}

.company-number {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
}

.mobile {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}

.VAT {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
}

.send-email-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.subscribe-text {
    margin-top: 1rem;
}

.input-fields-user-name{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.user-name-input {
    width: 50%;
    background-color: #ffffff;
    border: none;
    height: 1.6rem;
    padding-left: 0.6rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.input-fields-user-email {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: row;
}

.user-email-input {
    width: 60%;
    background-color: #ffffff;
    border: none;
    height: 1.6rem;
    padding-left: 0.6rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.btn-subscribe {
    border: none;
    width: 38%;
    background: #2ABF64;
    color: #ffff;
    padding-top: 0.3rem;
    cursor: pointer;
    text-align: center;
}

.google-map {
    height: 13rem;
    width: 60%;
    margin: 0 auto;
}

.iFrame-map {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px dotted lightgray;
    padding-bottom: 6rem;
}

.social-media-footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
    margin-top: 7rem;
}

.logo {
    width: 67%;
}


.footer-links {
    margin-top: 4rem;
}

@media screen and (max-width: 1500px) {
    .google-map {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 1000px) {
   .company-contact-info {
        display: flex;
        flex-direction: column;
    }
    .address, .company-number, .mobile, .VAT {
        left: 0;
        padding: 1rem;
    }
    .company-details-container {
        flex-direction: column;
        width: unset;
    }
    .send-email-container {
        flex-direction: column;
        margin-top: 12rem;
        width: 100%;
    }
    .input-fields-user-name {
        flex-direction: column;
    }
    .user-name-input {
        width: 100%;
    }
    .user-email-input {
        width: 100%;
    }
    .google-map {
        width: 100%;
    }
    .social-media-footer-links {
        flex-direction: column;
    }
}
