.links-desktop {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 1%;
    justify-content: space-evenly;
    width: auto;
}

.link-start-desktop {
    color: #000;
    margin: 1rem;
    text-decoration: none;
    padding: 0.6rem;
    top: 0.2rem;
    position: relative;
    right: 1rem;
}

.link-desktop {
    color: #000;
    margin: 1rem;
    text-decoration: none;
    padding: 0.6rem;
}

.link-desktop:hover {
    background: #6EC1E4;
    text-decoration: none;
    color: #fff;
}

.fa-angle-down {
    top: 1.6rem;
}