.MainMenuMobile-div {
    left: 0;
    width: 100%;
    top: 100%;
    position: absolute;
    background: #6EC1E4;
}

.links {
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    font-size: 1.3rem;
    color: #fff;
}

.link-mobile {
    text-decoration: none;
    color: #fff;
    text-align: left;
    width: 100vw;
    padding-left: 1rem;
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-mobile:hover {
    background: #0073aa;
}

.fa-angles-down:before {
    content: "\f107";
    position: absolute;
    right: 10%;
}