.header-div {
    background-color: #fff;
    top: 0;
    display: flex;
    position: fixed;
    width: 100%;
    height: 7rem;
    z-index: 10;
    display: flex;
    flex-direction: row;
}

.header-logo {
    padding: 1rem;
    position: relative;
    left: 6%;
    bottom: 6%;
}

.social-links {
    height: 7rem;
    width: 10rem;
    position: relative;
    left: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fa {
    padding: 0.4rem;
    text-decoration: none;
  }

.fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 50%;
    height: 1rem;
    height: 1rem;
    width: 1rem;
    text-align: center;
    top: 20%;
    position: relative;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50%;
    height: 1rem;
    height: 1rem;
    width: 1rem;
    text-align: center;
    top: 20%;
    position: relative;
}
  

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
    height: 1rem;
    height: 1rem;
    width: 1rem;
    text-align: center;
    top: 20%;
    position: relative;
}

.fa-envelope {
    background: #FF0000;
    color: #fff;
    border-radius: 50%;
    height: 1rem;
    height: 1rem;
    width: 1rem;
    text-align: center;
    top: 20%;
    position: relative;
}

.fa-bars {
    display: none;
    font-size: 2rem;
    height: fit-content;
    position: absolute;
    top: 2rem;
    left: 80%;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .social-links {
      display: none;
    }
    .fa-bars {
      display: block;
    }
    .desktop-menu {
        display: none;
    }
  }

