.BannerFive-div {
    width: 100%;
    height: autocla;
    top: 100%;
    position: relative;
    background: #fff;
    padding-top: 3rem;
    border-bottom: 10px solid #39c7ce;
}

.team-title {
    font-size: 3rem;
}

.team-photo-container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 0.2rem;
}

.photo-link {
    flex: 0 0 33.333333%;
}

.photo-name {
    position: absolute;
    display: none;
}

.photo-container {
    cursor: pointer;
}

.hide {
    position: absolute;
    margin-top: 14rem;
    display: none;
    left:30%;
    color: #fff;
}

.photo-container:hover {
    filter: brightness(50%);
    transition: .7s ease;
  }

.photo-container:hover > .hide{
    display: block;
    color: #ffff;
}

.photo {
    height: 25rem;
    width: 99%;
    border-radius: 0.7rem;
}

@media screen and (max-width: 1000px) {
    .team-photo-container {
        width: unset;
    }
    .photo {
        width:30rem;
    }
  }





