.BannerFive-div {
    width: 100%;
    height: auto;
    top: 100%;
    position: relative;
    background: #fff;
    padding-top: 3rem;
}

.team-title {
    font-size: 3rem;
}

.team-photo-container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
}

a {
    flex: 0 0 33.333333%;
}

.photo-name {
    position: absolute;
    display: none;
}

.photo-container {
    cursor: pointer;
}

.hide {
    position: absolute;
    margin-top: 14rem;
    display: none;
    left:30%;
    color: #fff;
    
  }

.photo-container:hover {
    filter: brightness(50%);
    transition: .7s ease;
  }

.photo-container:hover > .hide{
    display: block;
    color: #ffff;
    
}

.photo {
    height: 30rem;
    width: 22rem;
    margin: 0.4rem;
    border-radius: 0.7rem;
}





