.BannerThree-div {
    width: 100%;
    height: auto;
    top: 100%;
    position: relative;
    background: #efefef;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.banner-three-title {
    font-size: 3rem;
}

.info-title {
    font-size: 2rem;
    color: #54595f;
    font-weight: bold;
}

.banner-three-info-divs {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}

.info-div {
    height:100%;
    width: 14%;
    margin: 1rem;
}

.info-text-div {
    margin-top: 1rem;
}

.info-text {
    color: #7a7a7a;
    font-size: 14px;
}

@media screen and (max-width: 1000px) {
    .banner-three-info-divs {
        display: flex;
        flex-direction: column;
    }
    .info-div {
        width: 100%;

        margin: unset;
    }
}